node_modules/       # Папка с установленными пакетами npm
.DS_Store            # Файлы macOS, хранящие настройки отображения папок
*.log                # Файлы логов
*.swp                # Файлы подкачки Vim
*.swo                # Файлы подкачки Vim
.vscode/             # Папка с настройками VS Code (если используете)
.idea/               # Папка с настройками IntelliJ IDEA (если используете)
.history             # История командной строки
*.secret            # Файлы, содержащие секретную информацию
*.private           # Приватные ключи
.env                # Файл с переменными окружения (не должен попасть в репозиторий!)
/build/              # Папка со сгенерированными файлами для продакшн
/dist/               # Папка с сгенерированными файлами для продакшн
tmp/                 # Временные файлы
*.bak                # Файлы резервных копий
Thumbs.db            # Файлы эскизов Windows
.cache/              # Локальный кэш
